<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>
<body>
    <p><a href="http://localhost:5002/">Back to Homepage</a></p>
    <form action="" method="post">
        <input type="submit" value="Enter Password to Access Analytics">
        <input type="password" name="password" required>
    </form>
    {{ toastr.include_toastr_js() }}
</body>
</html>